.banner {
    background: bottom no-repeat url('./assets/imgs/pizza1.jpg');
    background-size: cover;
    color: $color-text;
    
    justify-content: space-between;
    gap: $padding-sect-internal;
    flex-wrap: wrap;

    padding: 0;

    & .content {
        background-color: rgba($color: $color-bg, $alpha: 0.75);
        border-radius: 0;
        color: $color-acc;

        max-width: 45%;
    }

    & .wrapper__text {
        color: $color-text;
        line-height: 100%;
        word-spacing: 100%;

        display: block;

        padding: $padding-text-external 0;
    }
}

@media screen and (max-width: 1000px) {
    .banner {
        & .content {
            max-width: 100%;
        }
    }
}