@import "variables";

.header {
    background-color: $color-text;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    height: $font-size-xxl;
    
    padding: 0 $padding-sect-external;

    .logo {
        object-fit: contain;
        
        &__img {
            height: $font-size-l;
            width: unset;
        }
    }

    .menu {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        &__item {
            font-size: $font-size-m;

            padding: 1rem 2rem;
        }

        &__link {
            color: $color-pri;
            
            &:hover {
                color: $color-bg;
            }
        }
    }
}