@import "variables";

.products {
    background-color: $color-pri;

    flex-wrap: wrap;

    .product {
        background-color: $color-bg;
        border-radius: $border-external-radius;
        text-align: center;

        &__txts {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__img {
            border-radius: $border-internal-radius;
            object-fit: cover;
            object-position: center;

            max-width: 80%;
            height: 200px;
        }

        &--feature {
            flex-direction: row;
            justify-content: space-around;
            
            min-width: 75%;
            max-width: 1350px;

            & .product__img {
                height: 300px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .products {
        .product {
            max-width: 25%;
        }
    }
}

@media screen and (max-width: 800px) {
    .products {
        flex-wrap: wrap;
        flex-direction: column;

        .product {

            padding: $padding-sect-internal 0;

            &__txts {
                flex-wrap: wrap;
                flex-direction: column;
            }

            &--feature {
                text-align: center;

                align-items: normal;
                flex-direction: column;
            }

            &__img {
                width: 100%;
            }
        }
        
    }
}