@import "variables";

.products {
    background-color: $color-pri;

    flex-wrap: wrap;

    .product {
        background-color: $color-bg;
        border-radius: $border-external-radius;

        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-width: 25%;

        &__img {
            border-radius: $border-internal-radius;

            max-width: 80%;
            height: 200px;
            object-fit: cover;
            object-position: center;
        }

        &--feature {
            flex-direction: row;
            justify-content: space-around;
            min-width: 80%;
        }
    }
}