@import "variables";

.where {
    background: center no-repeat url('./assets/imgs/massa.jpg') ;
    background-size: cover;
    border-radius: 0;
    color: $color-text;

    padding: 0;

    &__txts {
        background-color: rgba($color-bg, 0.9);
        border-radius: 0;

        padding: $padding-sect-external;
    }

    &__title {
        font-size: $font-size-normal;
        font-weight: 700;
        text-align: center;
    }

    &__desc {
        text-align: center;
    }

    &__plataforms {
        flex-direction: row;
        flex-wrap: wrap;

        & .plataform {

            &__img {
                max-height: 75px;

                min-width: 150px;
                max-width: 250px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .where {
        &__plataforms {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}