/*

Estilos globais

*/

@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Kristi&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import "variables";

* {
    text-decoration: none;
    list-style: none;
}

/*
 *
 * COLORS
 *
*/

$type-scale-minor-second: 1.067;
$type-scale-major-second: 1.125;
$type-scale-minor-third: 1.2;
$type-scale-major-third: 1.25;
$type-scale-perfect-fourth: 1.333;
$type-scale-augmented-fourth: 1.414;
$type-scale-perfect-fifth: 1.5;
$type-scale-golden-ratio: 1.618;

/*
 *
 * TYPOGRAPHY
 *
*/

$font-display: $font-kristi;
$font-body: $font-nunito-sans;
$font-other: $font-merriweather;

$font-size-base: 1rem;
$line-height-base: 1.4*$font-size-base;
$type-scale-current: $type-scale-perfect-fifth;

// typo result

$font-size-xxl: $font-size-base * (3*$type-scale-current);
$font-size-l: $font-size-base * (2*$type-scale-current);
$font-size-m: $font-size-base * (1*$type-scale-current);
$font-size-normal: $font-size-base;
$font-size-s: $font-size-base / (1*$type-scale-current);
$font-size-xs: $font-size-base / (2*$type-scale-current);

$line-height-xxl: $font-size-xxl;
$line-height-l: $font-size-l;
$line-height-m: $line-height-base * (1*$type-scale-current);
$line-height-normal: $line-height-base;
$line-height-s: $line-height-base / (1*$type-scale-current);
$line-height-xs: $line-height-base / (2*$type-scale-current);

.title--too-large {
    font-size: $font-size-xxl;
    line-height: $line-height-xxl;
}

.title--large {
    font-size: $font-size-l;
    line-height: $line-height-l;
}

.title {
    font-size: $font-size-m;
    line-height: $line-height-m;
}

.text {
    font-size: $font-size-normal;
    line-height: $line-height-normal;
}

.text--detail {
    font-size: $font-size-s;
    line-height: $line-height-s;
}

.text--too-small {
    font-size: $font-size-xs;
    line-height: $line-height-xs;
}

* {
    font-family: $font-body;
}

.hero-call {
    font-family: $font-display;
    font-weight: 700;
}

.desc-call {
    font-family: $font-other;
    font-weight: 500;
}

.content.hero {
    font-size: $font-size-xxl;
    font-weight: 400;
}

// Espaçamentos

$padding-text-internal: .33rem;
$padding-text-external: .5rem;

$padding-sect-internal: 1rem;
$padding-sect-external: 1.5rem;

// Bordas

$border-internal-radius: .66rem;
$border-external-radius: 1rem;

// Componentes

article,
section,
div {
    padding: $padding-sect-external $padding-sect-internal;
    border-radius: $border-external-radius;
}

article section,
form section,
section section {
    padding: $padding-sect-external;
    border-radius: $border-internal-radius;
}

img {
    width: 400px;
    object-fit: contain;
}

@import "wrapper";

// Páginas

@import "header";
@import "product";