/*

Estilos globais

*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Kristi&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  text-decoration: none;
  list-style: none;
}

/*
 *
 * COLORS
 *
*/
/*
 *
 * TYPOGRAPHY
 *
*/
.title--too-large {
  font-size: 9rem;
  line-height: 9rem;
}

.title--really-large {
  font-size: 6rem;
  line-height: 6rem;
}

.title--large {
  font-size: 4.5rem;
  line-height: 4.5rem;
}

.title {
  font-size: 1.5rem;
  line-height: 2.1rem;
}

.text {
  font-size: 1rem;
  line-height: 1.4rem;
}

.text--detail {
  font-size: 0.6666666667rem;
  line-height: 0.9333333333rem;
}

.text--too-small {
  font-size: 0.3333333333rem;
  line-height: 0.4666666667rem;
}

* {
  font-family: "Nunito Sans", sans-serif;
}

.hero-call {
  font-family: "Kristi", cursive;
  font-weight: 700;
}

.desc-call {
  font-family: "Merriweather", serif;
  font-weight: 500;
}

.content.hero {
  font-size: 9rem;
  font-weight: 500;
  word-spacing: 150%;
  letter-spacing: 150%;
}

main {
  font-size: 1rem;
  width: 80%;
  margin: 0 auto;
}

article,
section,
div {
  padding: 1.5rem 1rem;
}

article section,
form section,
section section {
  padding: 1.5rem;
  border-radius: 0.66rem;
}

img {
  width: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 1200px) {
  main {
    width: 100%;
  }
}
.wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}
.wrapper__deal {
  width: 35%;
}
.wrapper__txts {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 0.33rem;
}
.wrapper__img {
  width: 40%;
}
.wrapper__title {
  text-align: center;
}
.wrapper__toppings {
  border-radius: 0.66rem;
  color: #f07126;
  font-weight: 500;
  letter-spacing: 0.19rem;
  text-align: center;
  filter: opacity(0.5);
  margin-bottom: 0;
  padding: 0.33rem;
}
.wrapper__list {
  text-align: center;
  width: 200px;
  padding: 0.5rem;
}
.wrapper__item {
  padding: 0.33rem;
}
.wrapper__rating {
  background-color: rgba(240, 113, 38, 0.75);
  color: #fadc7a;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
}
.wrapper__stars {
  height: 50px;
  width: 150px;
}

@media screen and (min-width: 1200px) {
  .wrapper {
    align-items: center;
  }
}
@media screen and (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
  }
  .wrapper__deal {
    width: 100%;
  }
  .wrapper__img {
    width: 100%;
  }
}
.header {
  background-color: #1f1c1f;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 9rem;
  padding: 0 1.5rem;
}
.header .logo {
  -o-object-fit: contain;
     object-fit: contain;
}
.header .logo__img {
  height: 4.5rem;
  width: unset;
}
.header .menu {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header .menu__item {
  font-size: 1.5rem;
  padding: 1rem 2rem;
}
.header .menu__link {
  color: #f2c902;
}
.header .menu__link:hover {
  color: #fadc7a;
}

@media screen and (max-width: 800px) {
  .header {
    align-items: center;
    flex-direction: column;
    height: -moz-max-content;
    height: max-content;
  }
  .header .menu {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.footer {
  background-color: #1f1c1f;
  color: #fadc7a;
  text-align: center;
  justify-content: space-around;
  align-items: flex-start;
  height: -moz-min-content;
  height: min-content;
}
.footer__logo {
  height: 100px;
  width: 300px;
}
.footer__sub-title {
  font-size: 1.5rem;
  letter-spacing: 0.33rem;
  padding: 0.5rem;
}
.footer__socials {
  text-align: center;
}
.footer__link, .footer__social {
  font-size: 1rem;
  font-weight: 300;
  color: #fadc7a;
  padding: 0.33rem;
}
.footer__txts {
  height: 100%;
  width: 75%;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer__txts section {
  padding: 0;
}
.footer__txts .copyright {
  align-self: flex-end;
  text-align: center;
  width: 100%;
  padding: 0.33rem;
}

@media screen and (min-width: 1200px) {
  .footer__txts {
    justify-content: space-around;
  }
}
@media screen and (max-width: 1000px) {
  .footer {
    align-items: center;
  }
  .footer__txts {
    align-items: center;
  }
}
.banner {
  background: bottom no-repeat url("./assets/imgs/pizza1.jpg");
  background-size: cover;
  color: #1f1c1f;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0;
}
.banner .content {
  background-color: rgba(250, 220, 122, 0.75);
  border-radius: 0;
  color: #e6173e;
  max-width: 45%;
}
.banner .wrapper__text {
  color: #1f1c1f;
  line-height: 100%;
  word-spacing: 100%;
  display: block;
  padding: 0.5rem 0;
}

@media screen and (max-width: 1000px) {
  .banner .content {
    max-width: 100%;
  }
}
.cardapio {
  background-color: #fadc7a;
  color: #1f1c1f;
  flex-direction: column;
}
.cardapio__title {
  font-size: 1.5rem;
  letter-spacing: 150%;
  text-transform: uppercase;
  word-spacing: 150%;
}
.cardapio__text {
  max-width: 45%;
}
.cardapio__link {
  color: #e6173e;
}

.products {
  background-color: #f2c902;
  flex-wrap: wrap;
}
.products .product {
  background-color: #fadc7a;
  border-radius: 1rem;
  text-align: center;
}
.products .product__txts {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products .product__img {
  border-radius: 0.66rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-width: 80%;
  height: 200px;
}
.products .product--feature {
  flex-direction: row;
  justify-content: space-around;
  min-width: 75%;
  max-width: 1350px;
}
.products .product--feature .product__img {
  height: 300px;
}

@media screen and (min-width: 1200px) {
  .products .product {
    max-width: 25%;
  }
}
@media screen and (max-width: 800px) {
  .products {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .products .product {
    padding: 1rem 0;
  }
  .products .product__txts {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .products .product--feature {
    text-align: center;
    align-items: normal;
    flex-direction: column;
  }
  .products .product__img {
    width: 100%;
  }
}
.features {
  padding: 0;
}
.features .feature {
  background-color: rgba(250, 220, 122, 0.9);
  border-radius: 0;
  display: flex;
  min-height: 20rem;
  padding: 0;
}
.features .feature__txts {
  background-color: rgba(250, 220, 122, 0.6);
  border-radius: 0;
  min-height: 100%;
}
.features .feature__title {
  color: #e6173e;
  padding: 0.5rem;
}
.features .feature__desc {
  padding: 0.33rem;
}
.features .feature-1 {
  background: center no-repeat url("./assets/imgs/feature-1.jpg");
  background-size: cover;
}
.features .feature-2 {
  background: center no-repeat url("./assets/imgs/feature-2.jpg");
  background-size: cover;
}
.features .feature-3 {
  background: center no-repeat url("./assets/imgs/feature-3.jpg");
  background-size: cover;
}
.features .feature-4 {
  background: center no-repeat url("./assets/imgs/feature-4.jpg");
  background-size: cover;
}

.where {
  background: center no-repeat url("./assets/imgs/massa.jpg");
  background-size: cover;
  border-radius: 0;
  color: #1f1c1f;
  padding: 0;
}
.where__txts {
  background-color: rgba(250, 220, 122, 0.9);
  border-radius: 0;
  padding: 1.5rem;
}
.where__title {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}
.where__desc {
  text-align: center;
}
.where__plataforms {
  flex-direction: row;
  flex-wrap: wrap;
}
.where__plataforms .plataform {
  max-width: 25%;
}
.where__plataforms .plataform__img {
  max-height: 75px;
  min-width: 150px;
  max-width: 250px;
}

.form {
  background-color: #fadc7a;
}
.form__title {
  text-align: center;
}
.form form,
.form form section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__sect {
  width: 80%;
}
.form__inp {
  border: 0;
  border-radius: 1rem;
  min-width: 75%;
  margin-top: 0.33rem;
  padding: 0.5rem 2rem;
}
.form__btn {
  background-color: #f2c902;
  border: 0;
  border-radius: 1rem;
  color: #1f1c1f;
  cursor: pointer;
  padding: 1.5rem;
  transition: all 300ms ease-in-out;
}
.form__btn:hover {
  background-color: #f07126;
  color: #fadc7a;
}/*# sourceMappingURL=styles.css.map */