/*

Estilos globais

*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Kristi&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  text-decoration: none;
  list-style: none;
}

/*
 *
 * COLORS
 *
*/
/*
 *
 * TYPOGRAPHY
 *
*/
.title--too-large {
  font-size: 9rem;
  line-height: 9rem;
}

.title--really-large {
  font-size: 6rem;
  line-height: 6rem;
}

.title--large {
  font-size: 4.5rem;
  line-height: 4.5rem;
}

.title {
  font-size: 1.5rem;
  line-height: 2.1rem;
}

.text {
  font-size: 1rem;
  line-height: 1.4rem;
}

.text--detail {
  font-size: 0.6666666667rem;
  line-height: 0.9333333333rem;
}

.text--too-small {
  font-size: 0.3333333333rem;
  line-height: 0.4666666667rem;
}

* {
  font-family: "Nunito Sans", sans-serif;
}

.hero-call {
  font-family: "Kristi", cursive;
  font-weight: 700;
}

.desc-call {
  font-family: "Merriweather", serif;
  font-weight: 500;
}

.content.hero {
  font-size: 9rem;
  font-weight: 500;
  word-spacing: 150%;
  letter-spacing: 150%;
}

main {
  font-size: 1rem;
  width: 80%;
  margin: 0 auto;
}

article,
section,
div {
  padding: 1.5rem 1rem;
}

article section,
form section,
section section {
  padding: 1.5rem;
  border-radius: 0.66rem;
}

img {
  width: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 1200px) {
  main {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  main {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  main {
    width: 100%;
  }
}
.wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.wrapper__deal {
  width: 35%;
}
.wrapper__txts {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 0.33rem;
}
.wrapper__img {
  width: 40%;
}
.wrapper__title {
  text-align: center;
}
.wrapper__toppings {
  border-radius: 0.66rem;
  color: #f07126;
  font-weight: 500;
  letter-spacing: 0.19rem;
  text-align: center;
  filter: opacity(0.5);
  margin-bottom: 0;
  padding: 0.33rem;
}
.wrapper__list {
  text-align: center;
  width: 200px;
  padding: 0.5rem;
}
.wrapper__item {
  padding: 0.33rem;
}
.wrapper__rating {
  background-color: rgba(240, 113, 38, 0.75);
  color: #fadc7a;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
}
.wrapper__stars {
  height: 50px;
  width: 150px;
}

.header {
  background-color: #1f1c1f;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 9rem;
  padding: 0 1.5rem;
}
.header .logo {
  -o-object-fit: contain;
     object-fit: contain;
}
.header .logo__img {
  height: 4.5rem;
  width: unset;
}
.header .menu {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header .menu__item {
  font-size: 1.5rem;
  padding: 1rem 2rem;
}
.header .menu__link {
  color: #f2c902;
}
.header .menu__link:hover {
  color: #fadc7a;
}

.banner {
  background: bottom no-repeat url("./assets/imgs/pizza1.jpg");
  background-size: cover;
  color: #1f1c1f;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0;
}
.banner .content {
  background-color: rgba(250, 220, 122, 0.75);
  border-radius: 0;
  max-width: 45%;
}
.banner .wrapper__text {
  display: block;
  padding: 0.5rem 0;
  line-height: 100%;
  word-spacing: 100%;
}

.cardapio {
  background-color: #f07126;
  color: #fadc7a;
}
.cardapio .wrapper__title {
  font-size: 1.5rem;
}

.products {
  background-color: #f2c902;
  flex-wrap: wrap;
}
.products .product {
  background-color: #fadc7a;
  border-radius: 1rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 25%;
}
.products .product__img {
  border-radius: 0.66rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-width: 80%;
  height: 200px;
}
.products .product--feature {
  flex-direction: row;
  justify-content: space-around;
  min-width: 75%;
  max-width: 1350px;
}
.products .product--feature .product__img {
  height: 300px;
}

.features {
  background-color: #fadc7a;
}
.features .feature {
  height: 10rem;
  padding: 1.5rem;
}
.features .feature__title {
  color: #f07126;
  padding: 0.5rem;
}
.features .feature__desc {
  padding: 0.33rem;
}

.where {
  background: center no-repeat url("./assets/imgs/massa.jpg");
  background-size: cover;
  border-radius: 0;
  color: #1f1c1f;
  padding: 0;
}
.where__txts {
  background-color: rgba(250, 220, 122, 0.9);
  border-radius: 0;
  padding: 1.5rem;
}
.where__title {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}
.where__desc {
  text-align: center;
}
.where__plataforms {
  flex-direction: row;
  flex-wrap: wrap;
}
.where__plataforms .plataform {
  max-width: 25%;
}
.where__plataforms .plataform__img {
  max-height: 75px;
  min-width: 150px;
  max-width: 250px;
}/*# sourceMappingURL=styles.css.map */